.sekeleton-loading {
  width: 300px;
  height: 200px;
  background: rgb(230, 230, 231);
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}

.sekeleton-loading::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent 0%,
    transparent 40%,
    #ffffff2f 50%,
    transparent 60%,
    transparent 100%
  );
  animation: skeleton 1s linear infinite;
}

@keyframes skeleton {
  from {
    translate: -100%;
  }
  to {
    translate: 100%;
  }
}
