/*
Thuộc tính overflow: Xử lý nội dung bị tràn
- visible --> Giữ nguyên
- hidden --> Ẩn
- scroll --> Tạo thanh cuộn (Lúc nào cũng có thanh cuộn)
- auto --> Tạo thanh cuộn khi nội dung bị tràn

overflow-x: Thiết lập theo trục x (ngang)
overflow-y: Thiết lập theo trục y (dọc)
*/
.box {
  border: 1px solid red;
  width: 200px;
  height: 200px;
  /* overflow: auto; */
  overflow-y: auto;
  overflow-x: hidden;
}
.box p {
  width: 400px;
}
