/*
Thuộc tính background: Thiết lập nền cho các element
- background-color
- background-image
- background-size
- background-repeat
- background-position
- background-attachment
- background: Tổng hợp tất cả thuộc tính trên trên

Lưu ý: Trong color sẽ có giá trị transparent
*/
body {
  height: 2000px;
}
.banner {
  height: 450px;
  /* background-color: antiquewhite;
  background-image: url("https://fastly.picsum.photos/id/357/1000/600.jpg?hmac=xW8_ZkoHGLhc1FnE4q8sphfhwzDsAYFrRjaqHXoeZ60");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed; */
  background: antiquewhite
    url("https://fastly.picsum.photos/id/357/1000/600.jpg?hmac=xW8_ZkoHGLhc1FnE4q8sphfhwzDsAYFrRjaqHXoeZ60")
    no-repeat 0 0 / cover fixed;
}

/* .title {
  background: rgba(255, 192, 203, 0.547);
}
.title:hover {
  background-color: transparent;
} */
