/*Thuộc tính line-height: Dãn dòng, thiết lập chiều cao cho dòng
Thuộc tính font-family: Thiết lập font chữ cho văn bản
Cú pháp: font-family: font1, font2, fontn
*/

/* p {
  font-size: 30px;
  line-height: 1.5;
} */
/*at-rules*/
/*
Họ font không chân: sans-serif
Họ font có chân: serif

Độ dày: font-weight: normal|100|200|300|400|500|600|700|800|900|bold
Nghiêng: font-style: normal|italic

Thuộc tính text-decoration: Quy định đường gạch ngang

Thuộc tính text-transform: Thay đổi chữ thường, hoa
+ none
+ lowercase
+ uppercase
+ capitalize

letter-spacing: Tạo khoảng cách giữa các ký tự

word-spacing: Tạo khoảng cách giữa các từ

--> Chấp nhận giá trị âm
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
p {
  /* font-family: Lato, sans-serif; */
  font-family: "Open Sans", sans-serif;

  font-weight: 700;
  font-style: normal;
  /* text-decoration: overline underline line-through; */
  /* letter-spacing: 0.5em; */
  word-spacing: 5px;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}
