/*
Pseudo Element: Phần tử giả
Cú pháp: selector::element
- before
- after
- first-letter
- first-line
- selection
- placeholder
*/

/* .title::before {
  content: "a";
}
.title::after {
  content: "b";
} */

.title::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: red;
  margin: 0 auto;
  translate: -100%;
}

/* p::first-line {
  color: red;
} */

/* p::first-letter {
  color: red;
} */

/* p::selection {
  color: yellow;
  background: black;
} */

input {
  color: red;
}

input::placeholder {
  color: red;
}
